<main class="TodoMain">

  <h1 class="TodoMain-title">
    My Todo List
  </h1>
  <%= form_with(url: "/todos", method: "post", class: "AddTodo") do %>
    <input name="todo_text" placeholder="What's next ?" type="text" class="AddTodo-text">
    <input name="due_date" type="date" class="AddTodo-date">
    <input type="submit" class="AddTodo-button" value="Add">
  <% end %>


  <div class="ExistingTodos">
    <%= render partial: "render-todos", locals: {
                 section_title: "Overdue",
                 todos: Todo.overdue,
                 show_due_date: true,
                 overdue: true,
               } %>

    <%= render partial: "render-todos", locals: {
                 section_title: "Due Today",
                 todos: Todo.due_today,
                 show_due_date: false,
                 overdue: false,
               } %>

    <%= render partial: "render-todos", locals: {
                 section_title: "Due Later",
                 todos: Todo.due_later,
                 show_due_date: true,
                 overdue: false,
               } %>
  </div>
</main>
